  <!-- Toolbar -->




  <div class="toolbar" role="banner">
  
    <img width="100" href="https://www.med.tn/uploads/clinics/654125224c5b498e09d174067335f97a.jpg" src="https://www.med.tn/uploads/clinics/654125224c5b498e09d174067335f97a.jpg">

      <div class="spacer"></div>
      <button mat-button [matMenuTriggerFor]="belowMenu"><mat-icon>keyboard_arrow_down</mat-icon>VOS BESOINS</button>
       <mat-menu #belowMenu="matMenu" yPosition="below">
       <button mat-menu-item>Item 1</button>
       <button mat-menu-item>Item 2</button>
       </mat-menu>
       <div class="spacer"></div>
       <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>keyboard_arrow_down</mat-icon>VOS SOLUTIONS</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Service D'urgence</button>
        <button mat-menu-item>Chirurgie Générale</button>
        <button mat-menu-item>Coeliochirurgie</button>
        <button mat-menu-item>Orthopédie</button>
        <button mat-menu-item>Chirurgie Gynécologique</button>
        <button mat-menu-item>Obstétrique</button>
        <button mat-menu-item>Urologie</button>
        <button mat-menu-item>Chirurgie Pédiatrique</button>
        <button mat-menu-item>Pédiatrie et Néonatologie</button>
        <button mat-menu-item>ORL</button>
        <button mat-menu-item>Cardiologie</button>
        <button mat-menu-item>Pneumologie</button>
        <button mat-menu-item>Ophtalmologie</button>
        <button mat-menu-item>Radiologie </button>
        <button mat-menu-item (click)="onClick()">Nero-Chirurgie</button>{{asma}}
        </mat-menu>
        <div class="spacer"></div>


        <button mat-button [matMenuTriggerFor]="afterMenu"><mat-icon>keyboard_arrow_down</mat-icon>LA CLINIQUE</button>
         <mat-menu #afterMenu="matMenu" xPosition="after">
         <button mat-menu-item>Urgence</button>
         <button mat-menu-item>Chirurgie</button>
         <button mat-menu-item>Matérnité</button>
         <button mat-menu-item>Bloc</button>
        </mat-menu>
      <div class="spacer"></div>
      <span>ACTUALITE</span>
      <div class="spacer"></div>
      <button mat-button color="primary">RECLAMATION</button>
      <div class="spacer"></div>
      <button mat-button color="primary">PRENDRE RENDEZ-VOUS</button>
      <div class="spacer"></div>
      <mat-icon> call</mat-icon>  <span>+216 55 55 55 55</span>
      <div class="spacer"></div>
      <mat-icon> location_on</mat-icon> <button mat-button color="primary">TUNISIE</button>

  </div>
  
  <div class="content" role="main">
  
    <iframe width="1200" height="400" src="https://www.youtube.com/embed/rC6Fpw7L5xs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <input type="hidden" #selection>
  
    <div class="card-container">
      <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        
        <span><B>CRÉÉE EN</B> <br /><B>1900</B></span> <br />
      </div>
      <div class="spacer"></div>
      <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
  
        <span> <B> PLUS DE </B><br /> <B>55000</B><br /> <B>INTERVENTIONS PAR AN</B></span>
      </div>
      <div class="spacer"></div> <br />
      <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
  
        <span><B>77</B> <br /> <B>CHIRURGIEN SPÉCIALISÉS</B></span>
      </div>
        <mat-card>
         La Clinique des Champs-Elysées accueille depuis plus de soixante ans une patientèle française et internationale. Nos principaux domaines d’intervention sont la chirurgie esthétique, la médecine esthétique, l’épilation laser, la chirurgie capillaire, la chirurgie dentaire. Nous proposons également des soins de beauté et des produits cosmétiques haut de gamme.

         Dans cet écrin chaleureux à quelques mètres de l’avenue la plus mythique au monde, la Clinique des Champs- Elysées propose des interventions auréolées de la « French touch », cette signature glamour, discrète, naturelle et raffinée si recherchée en esthétique.
        </mat-card>
        <div class="card-container">
            <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
              
              <span><B>30</B> <br /><B>CHAMBRES INDIVIDUELLES TOUT CONFORT</B></span>
            </div>
            <div class="spacer"></div>
            <br />
            <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        
              <span> <B> 10 </B><br /> <B>BLOCS DE SOINS EN MÉDECINE & LASER</B></span>
            </div>

            <div class="spacer"></div>
            <br />
            <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
        
              <span><B>2500m²</B> <br /> <B>DÉDIÉS À L'ESTHÉTIQUE</B></span>
            </div>
        </div>
       
        <button mat-button color="primary">DECOUVRIR LA CLINIQUE</button>
      <div>    
         <h1>Les nouveautés de la semaine</h1> <br/> <div class="spacer"></div>
       </div>


  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>